{
    ViewData["Title"] = "Create Brands";
}

@model Ecommerce.BrandVM;
<div class="main">
    <!-- MAIN CONTENT -->
    <div class="main-content">
        <div class="container-fluid">
            <h3 class="page-title">Edit Brand</h3>
            <div class="row">
                <div class="col-md-12">

                    <!-- INPUTS -->
                    <div class="panel">
                        <div class="panel-heading">
                            <h3 class="panel-title"></i>Edit Brand</h3>
                        </div>
                        <form method="post" enctype="multipart/form-data">
                            <input type="hidden" asp-for="Id" />
                            <div class="panel-body">
                                <label> Name </label>
                                <input asp-for="Name" type="text" required="required" class="form-control" placeholder="Enter Brand Name">
                                <br>
                                <label> Description </label>
                                <textarea asp-for="Description" class="form-control" required="required" placeholder="Enter Brand Description" rows="4"></textarea>
                                <br>
                                <label> Your Brand Image: </label>
                                <br>
                                <img class="fa-circle" style="margin-left: 13px;" src="~/Imageuploads/Brands/@(Model.ImageId).png" />
                                <br>
                                <br>
                                <label> Enter Brand Image </label>
                                <input required="required" name="file" type="file" class="" placeholder="Enter Brand Image">
                                <p class="demo-button" style="margin-top: 2rem;margin: 0 80px -31px;">
                                    <button type="submit" class="btn btn-outline-primary btn-toastr" data-context="info" data-message="Hi, I'm here" data-position="bottom-right">Save</button>
                                </p>
                                <br />

                            </div>

                        </form>
                    </div>

                </div>

            </div>
        </div>
    </div>
    <!-- END MAIN CONTENT -->
</div>

