@{ Layout = "_UserLayout";


@model Ecommerce.Vm.RegisterVM;
}
<!-- Login Start -->
<div class="alert alert-danger alert-dismissible" role="alert" style="width:50%;margin-left: 4rem;">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    Wrong E-Mail or Password
</div>
<div class="login">
    <form method="post">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-13">
                    <div class="register-form">
                        <div class="row">
                            <div class="col-md-6">
                                <label asp-for="Email">E-mail</label>
                                <input asp-for="Email" class="form-control" type="text" placeholder="E-mail">
                            </div>

                            <div class="col-md-6">
                                <label asp-for="Password">Password</label>
                                <input type="password" asp-for="Password" class="form-control" placeholder="Password">
                            </div>
                            <div class="col-md-12">
                                <button type="submit" class="btn">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<!-- Login End -->
