@{ Layout = "_UserLayout";


    @model Ecommerce.Vm.RegisterVM;
}
<div class="login">
    <form method="post">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-13">
                    <div class="register-form">
                        <div class="row">
                            <div class="col-md-6">
                                <label asp-for="FirstName">First Name</label>
                                <input asp-for="FirstName" class="form-control" type="text" placeholder="First Name">
                            </div>
                            <div class="col-md-6">
                                <label asp-for="LastName">Last Name"</label>
                                <input asp-for="LastName" class="form-control" type="text" placeholder="Last Name">
                            </div>
                            <div class="col-md-6">
                                <label asp-for="Email">E-mail</label>
                                <input asp-for="Email" class="form-control" type="text" placeholder="E-mail">
                            </div>
                            <div class="col-md-6">
                                <label asp-for="Phone">Mobile No</label>
                                <input asp-for="Phone" class="form-control" type="text" placeholder="Mobile No">
                            </div>
                            <div class="col-md-6">
                                <label asp-for="Password">Password</label>
                                <input asp-for="Password" class="form-control" type="password" placeholder="Password">
                            </div>
                            <div class="col-md-6">
                                <label asp-for="RePassword">Retype Password</label>
                                <input asp-for="RePassword" class="form-control" type="text" placeholder="Password">
                            </div>
                            <div class="col-md-12">
                                <button type="submit" class="btn">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
        <!-- Login End -->
